.section {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {width: 100%}
/* .col_1_2 { float: left; width: 50%; text-align: left;}
.col_2_2 { float: right; width: 50%; text-align: right;} */

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 200;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 300;
}

.title,
.description {
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.container {
  padding: 2em 1em 2em 1em;
  width: 100%;
}
@media (min-width:320px)  {
  .container {
    padding: 2em 1em 2em 1em;
  }

  .col_1_2, .col_2_2 {width: 100%; text-align: center;}
}
@media (min-width:480px)  {
  .container {
    padding: 2em 2em 2em 2em;
  }

  .col_1_2 { float: left; width: 50%; text-align: left;}
  .col_2_2 { float: right; width: 50%; text-align: right;}
}
@media (min-width:600px)  {
  .container {
    padding: 2em 4em 2em 4em;
  }
}
@media (min-width:801px) {
  .container {
    width: 720px;
    margin:auto;
  }
}

.blog_container {
  font-size: 18px;
}

.blog_container .content {
  text-align: justify;
  text-justify: inter-word;
}

.blog_container .content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 8px;
}

.btn {
  display: inline;
  width: auto;
  margin-top: 24px;
  padding: 12px 32px;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.testimonial_btn {
  height: 12px;
  width: 12px;
  border: solid black 1px;
  border-radius: 50%;
  display: inline-block;
  margin: 24px 8px ;
  cursor: pointer
}