.navbar ul {
  height: 52px;
  display:flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin:0;
}

.navbar ul li {
  width: 84px;
  text-align: center;
  padding: 10px 12px;
  font-weight: bold;
  cursor: pointer;
  line-height: 2.5;
}

.navbar ul li:hover {
  display: block;
  border-bottom: 4px solid black;
}